@charset "utf-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body */
.all_content{
  background:#ECF1F6;
}
ul,
li{
  list-style:none;
}
.atlas_image{
  margin: 200px auto 30px auto;
  width: 150px;
}
.atlas_image img{
  width: 100%;
}
.register_form label{
font-weight: bold;
}
.login_square{
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3); ;
}
.login_square label{
  font-weight: bold;
}
.new_register{
  padding-bottom: 20px;
}
.register_square{
  background-color: #fff;
  width: 400px;
  padding: 30px 30px 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3); ;

}
.old_year,.old_month,.old_day{
  border: none;
  border-bottom: 1px solid #177bfa;
}
.gender-content,.birth-content,.role-content{
  display: flex;
  justify-content: space-around;
}
.birth-content div{
  width: 33%;
}
.birth-content select{
  width: 80%;
}
/* サイドバー */
.sidebar{
  width:200px;
  height:100vh;
  background-color:#03AAD2;
  font-weight:bold;
  padding-top: 20px;
}
.sidebar img{
  width: 20px;
  margin-right: 7px;
  margin-left: 7px;
}
.main-container{
  width:100%;
}
.sidebar p a{
  color:#FFF;
  vertical-align: middle;
}

/* トップページ */
.user_status{
  border-radius:10px;
  background:#FFF;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3); ;
}
.myprofile{
  margin-left: 40px;
  margin-top: 20px;
}
.top_area{
  padding-top: 20px;
}

/* スクール予約関連 */
.calendar_content{
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3); ;

}
.day-blank{
  background:#D3D3D3;
}
.day-sat{
  color:#0000FF;
}
.day-sun{
  color:#FF0000;
}
.past-day{
  background:#EEE;
}
.calendar-td{
  min-width:100px;
  border-right:1px solid #dadce0;

  /* border: 1px solid; */
}
.pastdaycolor{
  background-color: #f1f1f1;
}
.day_part{
  color:#494949;
  font-size:12px;
  display: flex;
  justify-content: space-evenly;
}
.adjust-table{
  width:70% !important;
}
.adjust-table td{
  padding:0 !important;
}
.adjust-area p{
  justify-content: space-around;
}
.adjust-table-btn{
  width:70%;
}
.text-right input{
  margin-top: 20px;
}
.reception-close{
  color: #000;
}
/* スクール枠登録 */
.calendar{
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3); ; */

}
/* スクール予約確認 */
.school_reserve_confirmation{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3); ;
  margin: 50px auto;
}
.s_r_c_content{
  padding: 30px;
}
.s_r_c_content p{
  text-align: center;
}
.reserve_detail_content{
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
}
.reserve_users_th{
  background: #03aad2;
  color: #fff;
  text-align: center;
}
.reserve_detail_users{
  text-align: center;
}
.reserve_detail_column{
  width: 10%;
}
/* モーダル */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.modal-inner-reserve-day input{
  border: none;
  pointer-events: none;
}
.modal-inner-reserve-part input{
  border: none;
  pointer-events: none;
}

/* 掲示板 */
.post_create_area{
  background:#FFF;
  border-radius:10px;
}
.post_create_area textarea{
  resize:none;
  height:300px;
  white-space: pre-wrap;
}
.detail_container{
  position: relative;
  background:#FFF;
  border-radius: 5px;
}
.post_area{
  display: flex;
  position: relative;
  background:#FFF;
  border-radius:10px;
}
.post_title a{
  color: #000;
  font-weight: 700;
}
.post_bottom_area{
  justify-content: space-between;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.sub_category_btn{
  height: 25px;
  padding: 3px;
  background-color: #03AAD2;
  border-radius: 7px;
  border: none;
  color: #fff;
  font-size: 12px;
}
.like_btn,
.un_like_btn{
  cursor:pointer;
}
.un_like,
.un_like_btn{
  color:#E2254D;
}
.error_message{
  font-size:12px;
  color:red;
}
.post_button{
  background-color: #03AAD2;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  color: #fff;
  font-size: 10px;
}
.post_button a{
  color: #fff;
  font-size: 10px;
}
.keyword_content{
  margin-top: 20px;
  display: flex;
}
/* .keyword_content input{
  border-radius: 5px;
} */
.keyword_content input:first-child{
  border: 1px solid #dee2e6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 70%;
  font-size: 10px;
  height: 30px;
}
.keyword_content input:last-child{
  background-color: #03AAD2;
  border: none;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 30%;
  font-size: 10px;
  height: 30px;
}
.like_my_content{
  margin-top: 20px;
  display: flex;
}
.like_my_content input{
  width: 50%;
  border: none;
  border-radius: 5px;
}
.like_my_content input:first-child{
  background-color:#e38eab;
  color: #fff;
  font-size: 10px;
  height: 30px;
  margin-right: 3px;
}
.like_my_content input:last-child{
  background-color: #ebbc5d;
  color: #fff;
  font-size: 10px;
  height: 30px;
}
.category_search{
  margin-top: 20px;
}
.sub_categories{
  display:none;
  margin-left: 10%;
}
/* .main_categories{
  border-bottom: 2px solid #bec0c2;
} */
.main_categories li{
  position: relative;
  border-bottom: 2px solid #bec0c2;
}
.dli-chevron-down {
  position: absolute;
  right: 0;
  bottom: 30%;
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 7px;
  height: 7px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
}
.dli-chevron-down.selected{
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 7px;
  height: 7px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(25%) rotate(-45deg);
}
/* 掲示板 詳細画面 */
.contributor{
  margin-top: 10px;
  font-size:12px;
  color:#999;
  font-weight:bold;
}
.detail_post_title{
  font-size:14px;
}
.detail_post{
  font-size:12px;
  color:#9E9E9E;
}
/* .detail_inner_head{
  display:flex;
  justify-content: space-between;
} */
.edit-modal-open{
  position: absolute;
  right: 70px;
  padding: 5px 10px 5px 10px;
  cursor:pointer;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: small;
  color: #fff;
}
.mypost_del_btn{
  position: absolute;
  right: 20px;
  padding: 5px 10px 5px 10px;
  cursor:pointer;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  font-size: small;
  color: #fff;
}
.modal-inner-title input{
  border: 1px solid #d1d8df;
}
.modal-inner-body textarea{
  height:150px;
  resize:none;
  border: 1px solid #d1d8df;
}
.edit-modal-btn{
  justify-content: space-between;
}
/* 掲示板 コメント */
.comment_container{
  background:#FFF;
  border-radius: 10px;
  position: relative;
}
.comment_container li{
  color: red;
}
.comment_area{
  padding: 20px 20px 40px 20px;
}
.comment_area p,
.comment_area input{
  font-size:12px;
  font-weight:bold;
}
.comment_post_btn{
  float: inline-end;
}
.comment_area textarea{
  height:300px;
  resize:none;
}
.comment_container span{
  font-size:12px;
}
.post_status span{
  font-size:12px;
}

/* 掲示板　カテゴリー */
.category_area{
  background:#FFF;
  border-radius:10px;
}
.category_area input{
  margin-bottom: 20px;
}
.main_category_select{
  margin-bottom: 20px;
}
.category_box{
  border-radius:5px;
  padding:3px;
  background:#999;
  font-size:10px;
  color:#FFF;
}
.category_btn{
  font-size:12px;
  /* border-radius:5px; */
  /* padding:0 5px; */
  border:none;
  /* background:#999;
  color:#FFF; */
}
.main_categories span,
.sub_categories li input{
  list-style:none;
  cursor:pointer;
}

/* ユーザー検索 */
.reserve_users_area{
  display:flex;
  flex-wrap:wrap;
  width:1000px;
  margin:10px auto;
  /* height:80vh; */
  overflow: scroll;
  padding:10px;
  background:#FFF;
  border-radius:5px;
  background-color: #ecf1f6;
}
.reserve_users_area span{
  font-size:12px;
}
.one_person{
  width:200px;
  height:200px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3); ;
  margin: 10px;
}
.one_person span{
  font-weight: bold;
}
.one_person_item{
  opacity: 0.5;
}
/* キーワードの検索エリア */
.search_area{
  margin-top: 50px;
  padding: 20px;
}
.search_area p{
  color: #191970;
}
.free_word{
  border: none;
  border-radius: 5px;
  background-color: #e0e5e9;
  padding: 10px ;
  margin-bottom: 10px;
  font-size: small;
}
.search_category label{
  display: block;
  font-size: small;
  color: #191970;
}
.search_category select{
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: #e0e5e9;
  padding: 5px ;
  font-size: small;
  margin-bottom: 10px;
}
.search_conditions{
  position: relative;
  border-bottom: 3px solid #e0e5e9;
  margin-bottom: 10px;
}
.search_conditions span{
  cursor:pointer;
  font-size: small;
}
.search_conditions_inner{
  display:none;
  font-size: small;
}
.search_conditions_inner div{
  margin-bottom: 10px;
}
.search_conditions_inner label{
  display: block;
}
.search_conditions_inner span{
  margin-right: 3px;
  font-weight: 600;
}
.search_conditions_inner input{
  margin-right: 5px;
}
.search_conditions_inner select{
  width: 120px;
  border: none;
  border-radius: 5px;
  background-color: #e0e5e9;
  padding: 5px ;
  font-size: small;
  margin-bottom: 10px;
}

.selected_engineer{
  padding-bottom: 30px;
}
.search_reset{
  text-align: center;
}
.search_reset div{
  margin-bottom: 20px;
}
.s-r-search-btn{
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #03AAD2;
  color: #fff;
  font-size: small;
}
.reset-button{
  border: none;
  color: #03AAD2;
}
/* ユーザープロフィール */
.subject_select_content{
  margin-top: 20px;
}
.subject_select_register{
  position: relative;
}
.subject_select_register span:first-child{
  margin-right: 10px;
}
.subject_select_arrow{
  display: inline-block;
  vertical-align: middle;
  color: #03AAD2;
  line-height: 1;
  width: 7px;
  height: 7px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
}
.subject_select_arrow.selected{
  display: inline-block;
  vertical-align: middle;
  color: #03AAD2;
  line-height: 1;
  width: 7px;
  height: 7px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(25%) rotate(-45deg);
}
.subject_edit_btn{
  font-size:16px;
  color:#03AAD2;
  cursor:pointer;
}
.subject_item{
  display: flex;
}
.subject_item div{
  padding: 5px;
}
.subject_inner{
  display:none;
}
/* ログイン画面 */
/* 新規登録画面 */
/* .register_form{
} */
